body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  min-width: 100dvw;
}

.nav {
  width: 10dvw;
  height: 100dvh;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid gray;
  margin-top: 0;
  margin-bottom: 0;
}

.nav>p {
  text-align: center;
}

.nav>div {
  height: 30dvh;
}

.nav>div>ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  border-radius: 10px;
  padding: 0;
}

.nav>div>ul>li {
  text-align: center;
  list-style: none;
  background-color: rgb(117, 115, 103);
  color: white;
  padding: 5px;
  min-width: 50px;
  border-radius: 5px;
  text-align: center;

}

.main-section {
  width: 89dvw;
}

.main-section-search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.main-section-search>div:first-child {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 300px;
}

.main-section-search>div:first-child>button {
  margin-left: 10px;
}

.main-section-search>div:last-child {
  width: 200px;
  text-align: end;
  margin-left: auto;
  margin-right: 100px;
}

.main-section-categories {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  height: 50px;
}

.main-section-categories>div {
  background-color: rgb(117, 115, 103);
  color: white;
  padding: 5px;
  min-width: 50px;
  border-radius: 5px;
  text-align: center;
}


.main-section-videos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 85dvh;
  overflow-y: auto;
}

.main-section-videos::-webkit-scrollbar {
  display: none;
}

.main-section-videos>div {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 290px;
  padding: 2px;
}

.video-container {
  border: 1px solid rgb(180, 177, 177);
  border-radius: 5px;
  width: 100%;
  height: 180px;
}

.video-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.video-description>p:first-of-type {
  font-size: 25px;
  font-weight: bold;
}

/* grid table styles */

.custom-input {
  border: 0;
  outline: 0 !important;
  border-bottom: 1px solid gray;
}
.custom-input:focus {
  outline: 0 !important;
  border-bottom: 1px solid rgb(38, 183, 250);
}

.grid-container {
  display: grid;

  grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 0px;
  min-height: 90dvh;

}

#item-0 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 5;
  border-bottom: 1px solid gray;
}

#item-1 {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 6;
  grid-column-end: 2;


  display: grid;

  grid-template-rows: 1fr 3fr 6fr 3fr;
  grid-template-columns: 1fr;

  grid-template-areas:
    'label3'
    'label0'
    'label1'
    'label2';

  gap: 0px;
  height: 100%;

  padding-left: 15px;
  padding-top: 10px;

}

#item-2 {

  background-color: #D5FDB9;
  grid-row-start: 4;
  grid-column-start: 2;

  grid-row-end: 6;
  grid-column-end: 3;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#item-3 {

  background-color: #9959CD;
  grid-row-start: 4;
  grid-column-start: 3;

  grid-row-end: 6;
  grid-column-end: 4;

}

#item-4 {

  background-color: #9F6D85;
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;

}

#item-5 {

  background-color: #ACFCCC;
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 4;

}

#item-6 {

  background-color: #95A55E;
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 4;
  grid-column-end: 5;

}

#item-7 {

  background-color: #FB5F8E;
  grid-row-start: 4;
  grid-column-start: 4;

  grid-row-end: 5;
  grid-column-end: 5;

}

#item-8 {

  background-color: #B77C67;
  grid-row-start: 5;
  grid-column-start: 4;

  grid-row-end: 6;
  grid-column-end: 5;

}

.grid-header {
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 25fr 24fr 24fr 24fr;

  gap: 0px;
  height: 100%;
}

#item-0-1 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;

  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

#item-0-2 {

  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;


  display: flex;
  justify-content: flex-start;
  align-items: end;
  padding-bottom: 10px;
}

#item-0-2 > input[type='text'] {
  width: 70%;
}

#item-0-3 {

  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 4;

  
  display: flex;
  justify-content: flex-start;
  align-items: end;
  padding-bottom: 10px;

}
#item-0-3 > input[type='text'] {
  width: 70%;
}

#item-0-4 {
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 2;
  grid-column-end: 5;

  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding-bottom: 10px;
  padding-right: 15px;
}

#item-0-5 {
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 3;
  grid-column-end: 5;

  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding-bottom: 10px;
  padding-right: 15px;
}

#item-1-0 {
  display: flex;
  flex-direction: column;
  grid-area: label0;
}

#item-1-0 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#item-1-0 > div > span {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
}
#item-1-0 > div > span > input[type='text'] {
  width: 80%;
}


#item-1-1 {
  display: flex;
  flex-direction: column;
  grid-area: label1;
}

#item-1-1 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#item-1-1 > div > span {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
}
#item-1-1 > div > span > input[type='text'] {
  width: 80%;
}

#item-1-2 {
  display: flex;
  flex-direction: column;
  grid-area: label2;

}

#item-1-2 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
#item-1-2 > div > span {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}
#item-1-2 > div > span > input[type='text'] {
  width: 80%;
}

#item-1-3 {
  text-align: end;
  padding-right: 15px;
  grid-area: label3;

}