 /* Define a CSS class for the table */
 .custom-table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

/* Apply styles to table headers */
.custom-table th {
    background-color: lightblue;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

/* Apply styles to table cells */
.custom-table td {
    background-color: lightblue;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}



.table-lab {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

/* Apply styles to table headers */
.table-lab tr {
    background-color: rgb(201, 230, 173);
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

/* Apply styles to table cells */
.table-lab td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

form {
    border: 1px solid red;
    width: calc(100dvw - 800px);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}
input[type=text],
input[type=email],
input[type=password] {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #fe0404;
    background: rgba(#fe0404, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #fe0404;
    background-color: transparent;
    transition: 0.5s;
    width: 50%;
}

input::placeholder {
    transition: color 0.5s ease-in-out;
    font-weight: 100;
    font-size: medium;
    letter-spacing: 1px;
}

input:focus::placeholder {
    color: #fe0404;
}

/* Застосовуємо стилі для input[type=date] і select */
input[type=date],
select {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #fe0404;
    background: rgba(#fe0404, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #fe0404;
    background-color: transparent;
    transition: 0.5s;
    width: 50%;
}

input[type=submit] {
    appearance: none;
    border: .2em solid #E91E63;
    background: hsl(0 0 0/0);
    padding: .85em 1.5em;
    color: #E91E63;
    border-radius: 2em;
    transition: 1s;

    &:hover,
    &:focus,
    &:active {
        background: #E91E63;
        color: #fff;
    }
}