body {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.new-year-card {
  background-color: transparent;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  max-width: 600px;
  width: 100%;
  position: relative;
}

.new-year-card::before,
.new-year-card::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ffffff;
}

.new-year-card::before {
  top: 0;
}

.new-year-card::after {
  bottom: 0;
}

.new-year-card__title,
.new-year-card__content {
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  animation: typing 4s steps(40) 1s forwards, colorChange 5s ease-in-out 5s infinite alternate;
}

.new-year-card__title,
.new-year-card__content {
  font-size: 30px; 
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes colorChange {
  from {
    color: #ffffff;
  }
  to {
    color: #ff0000;
  }
}

.new-year-card__title::after,
.new-year-card__content::after {
  content: '|';
  display: inline-block;
  animation: blinkingCursor 0.5s step-end infinite;
}

@keyframes blinkingCursor {
  50% {
    border-right: 2px solid transparent;
  }
}
p {
  font-size: 25px;
 }